.u-section-1 {
  background-image: url("images/AIoYLw.jpg");
  background-position: 50% 50%;
  padding: 0;
}

.u-section-1 .u-sheet-1 {
  min-height: 835px;
}

.u-section-1 .u-text-1 {
  line-height: 1.6;
  letter-spacing: 2px;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 15px auto 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 0 -80px;
}

.u-section-1 .u-shape-1 {
  height: 531px;
  width: 704px;
  animation-duration: 1500ms;
  margin: 71px auto 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 531px;
  animation-duration: 1000ms;
  background-image: none;
  height: auto;
  width: 655px;
  margin: -531px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 1px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 70px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 650px;
    margin-right: 50px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 160px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 396px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 540px;
    margin-right: 250px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 249px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 40px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-top: 39px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
    margin-right: 350px;
  }
} DISCORD USERNAME:
    
  
  
  
    REASON OF BAN:
    
  
  
  
      PROOF OF BAN:
    
  
  
  Send 