.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/AIoYLw.jpg");
  background-position: 50% 50%;
  padding: 0;
}

.u-section-1 .u-sheet-1 {
  min-height: 691px;
}

.u-section-1 .u-shape-1 {
  height: 481px;
  width: 440px;
  animation-duration: 1000ms;
  margin: 80px auto 0 328px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 487px;
  height: auto;
  animation-duration: 1000ms;
  background-image: none;
  margin: -496px 391px 60px 347px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 650px;
    margin-right: 50px;
    margin-left: 247px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 280px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 160px;
    margin-left: 137px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    margin-left: 100px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 540px;
    margin-right: 250px;
    margin-left: 47px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
    margin-right: 350px;
    margin-left: 0;
  }
} DISCORD USERNAME:
    
  
  
  
    REASON OF BAN:
    
  
  
  
      PROOF OF BAN:
    
  
  
  Send 